# ignore the documentation
docs/build/*
# .github/*


# ignore the sysimage
JuliaSysimage.so

# ignore the cascading files
internal_data/e_cascading/*/Cascading*.mat

# ignore the scattering files
internal_data/e_scattering/*
internal_data/!e_scattering/.gitkeep

# ignore the data folders (but not data/ itself)
data/*
!data/.gitkeep

# ignore the profiles
profiles/*
