# ignore the documentation
docs/*
.github/*


# ignore the sysimage
JuliaSysimage.so

# ignore the cascading files
Cascading*.mat

# ignore the data folders (but not data/ itself)
data/*
!data/.gitkeep