*.jl.*.cov
*.jl.cov
*.jl.mem
*.rej
.DS_Store
.benchmarkci
Manifest.toml
benchmark/*.json
coverage
docs/build/
env
node_modules

# ignore the new msis and iri files
internal_data/data_neutrals/msis*
internal_data/data_electron/iri*
# ignore the cascading files
internal_data/e_cascading/*
# ignore the scattering files
internal_data/e_scattering/*
# ignore the data folders (but not data/ itself)
data/*
# ignore the profiles
profiles/*
# ignore the control scripts
scripts/Control*.jl
MATLAB_dependencies/Control*.m
# except the following ones
!scripts/Control_script.jl
!scripts/Control_script_SteadyState.jl
!MATLAB_dependencies/Control_make_all.m
# ignore ANY .CondaPkg/ folder
*.CondaPkg/ 
# ignore matlab temporary files
*.asv
# ignore local files
local_files_no_git/*
# ignore the Figures
Figures/*
# ignore vscode config files
.vscode/*